<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>
    <link rel="stylesheet"href="/style.css">
</head>
<body>

    <form action="/" method="post">
        <h2>Contact Form</h2>
        <label>Email
            <input name="name" type="email"id="email"required placeholder="Email">
        </label>
        <label>Password
            <input name="password" type="text"id="psword"required placeholder="password">
        </label>
        <label>Skills
            <textarea name="skills" type="text"required placeholder="Write your skills"></textarea>
        </label>
       <button>Submit</button>
    </form>
</body>
</html>